{% extends 'closed_area/base.html.twig' %}
{% block content_row %}
    <div class="container container-fluid" id="home">
        <!-- HOME -->

        <!-- ABOUT & UPDATES -->
        <div class="row-fluid" id="about">
            <div class="span12">
                <h2 class="page-title" id="scroll_up"> Firmen</h2>
                <a href="{{ path('company_create') }}" class="btn btn-sm btn-success"><span class="glyphicon
                glyphicon-plus"></span> hinzufügen</a><br><br>
                <table class="table table-striped">
                    {% for company in companies %}
                        <tr>
                            <td>{{ company.name }}</td>
                            <td><a href="{{ path('company_edit',{company:company.id}) }}" class="btn btn-sm btn-warning"><span
                                            class="glyphicon glyphicon-pencil"></span></a> <a
                                        href="{{ path('company_delete',{company:company.id}) }}"
                                        class="btn btn-sm btn-danger"><span
                                            class="glyphicon glyphicon-trash"></span></a></td>
                        </tr>
                    {% endfor %}
                </table>
            </div>

        </div>


    </div>
{% endblock %}