
/*
 * Base structure
 */

html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: flex;
  color: #404040;

}


.cover-container {
  max-width: 75em;
}


/*
 * Header
 */
.masthead {
  margin-bottom: 2rem;
  background-color: #3B943B;
}
//
.headright{
  float: right;
  height: 140px;
  width: 183px;


  background-image:
          url('../../images/headright.png');
}

.headrightMid{
  float: right;
  height: 140px;
  width: 182px;


  background-image:
          url('../../images/headrightMid.png');
}

.headrightLeft{
  float: right;
  height: 140px;
  width: 182px;


  background-image:
          url('../../images/headrightLeft.png');
}

.headleft{
  float: left;
  height: 140px;
  width: 159px;


  background-image:
          url('../../images/headleft.png');
}

.headleftB{
  float: left;
  height: 140px;
  width: 151px;


  background-image:
          url('../../images/headleftB.png');
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }

}

@media (max-width: 48em) {
  .headright{
    display:none;
  }
  .headrightMid{
    display:none;
  }
  .headrightLeft{
    display:none;
  }
  .headleft{
    float: none;
    display: inline-block;
  }
  .headleftB{
    display:none;
  }
  .masthead{
    text-align: center;
  }
  .masthead-brand {
    vertical-align: inherit;
  }
  .masthead .navbar{
    display: block;
  }
}

@media (max-width: 460px) {
  .headleft{
    display: none;
  }
}

@media (max-width: 1150px) {
  .headleftB{
    display: none;
  }
  .masthead .navbar .nav-item{
    margin-left: 1.5em;
    margin-right: 1.5em;
  }
}

@media (max-width: 1000px) {
  .headrightLeft{
    display: none;
  }

  .masthead .navbar .nav-item{
    margin-left: 1em;
    margin-right: 1em;
  }
}

@media (max-width: 900px) {

  .masthead .navbar .nav-item{
    margin-left: 0.8em;
    margin-right: 0.8em;
  }
}

@media (max-width: 900px) {
  .headrightMid{
    display: none;
  }
  .masthead .navbar .nav-item{
    margin-left: 0.3em;
    margin-right: 0.3em;
  }
}