{% extends "@FOSUser/layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}
{% block content %}
    <h3>Vielen Dank!</h3>
    <br>
    Deine E-Mail-Adresse wurde erfolgreich bestätigt.
    <br><br>
    <h4>Wie geht es jetzt weiter?</h4>
    Ein Administrator wird deine Registrierung überprüfen. Du bekommst eine weitere E-Mail wenn dies passiert ist. <br>
    <strong>Erst danach</strong> kannst du dich einloggen.

    <br><br>
    Wir sehen uns bald!

{% endblock %}
