{% extends "@FOSUser/layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}
{% block content %}
    <h3>Vielen Dank!</h3>
    <br>
    Deine Registrierung wurde gespeichert, <strong>aber</strong> es m체ssen jetzt noch 2 Dinge passieren:
    <br><br>
    <ol>
        <li>Du hast eine E-Mail erhalten. Bitte klicke auf den Link in der E-Mail um deine E-Mail-Adresse zu best채tigen.</li>
        <li>Ein Administrator wird deine Registrierung 체berpr체fen. Du bekommst eine weitere E-Mail wenn dies passiert ist. <strong>Erst danach</strong> kannst du dich einloggen.</li>
    </ol>
    <br>
    Wir sehen uns bald!

{% endblock %}
