{% extends 'email/base.html.twig' %}
{% block subject %}Freischaltung erfolgreich{% endblock %}

{% block body %}
Hallo {{ user.username }}!<br><br>

    <b>gute Neuigkeiten:</b> ein Administrator hat deine Angaben überprüft und dich freigeschaltet.<br><br>

Du kannst dich nun in den Mitgliederbereich einloggen:<br><br>

<a href="{{ link }}">{{ link }}</a><br><br>

Viel Spaß beim störbern und ausprobieren.<br><br>

{% endblock %}