{% extends 'email/base.html.twig' %}
{% block subject %}Neue Umfrage{% endblock %}

{% block body %}
Hallo {{ receiver.username }}!<br><br>

{{ poll.createdBy }} hat eine neue Umfage "<b>{{ poll.name }}</b>" erstellt.<br><br>

Hier kannst du an der Umfrage teilnehmen:<br><br>
{{ link }}<br><br>

    Wenn du diese E-Mail-Benachrichtigung nicht mehr bekommen möchtest, kannst du diese jederzeit in deinen Einstellungen auf <a href="https://www.gemeinsam-bewegen.info">gemeinsam-bewegen.info</a> abschalten.
{% endblock %}
