{% extends 'public_area/base.html.twig' %}

{% block content %}
    <div class="col-md-12">
        <h3>Datenschutzerkl&#228;rung</h3>
        <h4>
            1. Datenschutz auf einen Blick
        </h4>
        <p>
            <strong>Allgemeine Hinweise </strong>
            <br/>
            Die folgenden Hinweise geben einen einfachen &#220;berblick dar&#252;ber,
            was mit Ihren personen-bezogenen Daten passiert, wenn Sie unsere Website
            nutzen. Personenbezogene Daten sind alle Daten, mit denen Sie
            pers&#246;nlich identifiziert werden k&#246;nnen. Ausf&#252;hrliche
            Informationen zum Thema Datenschutz entnehmen Sie unserer unter diesem Text
            aufgef&#252;hrten Datenschutzerkl&#228;rung.
        </p>
        <p>
            Wichtig ist, dass die wesentlichen Dateninhalte der Webseite
            ausschlie&#223;lich registrierten Nutzern aus dem Mitarbeiterkreis der
            Unternehmen der Interessengemeinschaft &#8222;Gemeinsam bewegen"
            zug&#228;nglich ist.
        </p>
        <p>
            <strong>Datenerfassung auf unserer Website</strong>
        </p>
        <p>
            <strong>
                Wer ist verantwortlich f&#252;r die Datenerfassung auf dieser Website?
            </strong>
            <br/>
            Die Datenverarbeitung auf dieser Website erfolgt durch den
            Websitebetreiber. Dessen Kontakt-daten k&#246;nnen Sie dem Impressum dieser
            Website entnehmen.
        </p>
        <p>
            <strong>Wie erfassen wir Ihre Daten? </strong>
            <br/>
            Ihre Daten werden zum einen dadurch erhoben, dass Sie uns diese mitteilen.
            Hierbei kann es sich z.B.um Daten handeln, die Sie in ein Kontaktformular
            eingeben.
        </p>
        <p>
            Andere Daten werden automatisch beim Besuch der Website durch unsere
            IT-Systeme erfasst. Das sind vor allem technische Daten (z.B.
            Internetbrowser, Betriebssystem oder Uhrzeit des Seitenaufrufs). Die
            Erfassung dieser Daten erfolgt automatisch, sobald Sie unsere Website
            betreten.
        </p>
        <p>
            <strong>
                Wof&#252;r nutzen wir Ihre Daten?
                <br/>
            </strong>
            Die Daten werden erhoben, um Ihnen das Angebot der Interessengemeinschaft
            &#8222;Gemeinsam bewegen" n&#228;her zu bringen und Ihre Teilnahme zu
            erm&#246;glichen.
        </p>
        <p>
            <strong>Welche Rechte haben Sie bez&#252;glich Ihrer Daten? </strong>
            <br/>
            Sie haben jederzeit das Recht unentgeltlich Auskunft &#252;ber Herkunft,
            Empf&#228;nger und Zweck Ihrer gespeicherten personenbezogenen Daten zu
            erhalten. Sie haben au&#223;erdem ein Recht, die Berichtigung, Sperrung
            oder L&#246;schung dieser Daten zu verlangen. Hierzu sowie zu weiteren
            Fragen zum Thema Datenschutz k&#246;nnen Sie sich jederzeit unter den im
            Impressum angegebenen Adressen der teilnehmenden Unternehmen wenden. Des
            Weiteren steht Ihnen ein Beschwerderecht bei der zust&#228;ndigen
            Aufsichtsbeh&#246;rde zu.
        </p>
        <p>
            Sie k&#246;nnen dieser Analyse widersprechen. &#220;ber die
            Widerspruchsm&#246;glichkeiten werden wir Sie in dieser
            Datenschutzerkl&#228;rung informieren.
        </p>
        <h4>
            2. Allgemeine Hinweise und Pflichtinformationen
        </h4>
        <p>
            <strong>Datenschutz</strong>
            <br/>
            Die Betreiber dieser Seiten nehmen den Schutz Ihrer pers&#246;nlichen Daten
            sehr ernst. Wir behandeln Ihre personenbezogenen Daten vertraulich und
            entsprechend der gesetzlichen Datenschutzvorschriften sowie dieser
            Datenschutzerkl&#228;rung.
        </p>
        <p>
            Wenn Sie diese Website benutzen, werden verschiedene personenbezogene Daten
            erhoben. Personenbezogene Daten sind Daten, mit denen Sie pers&#246;nlich
            identifiziert werden k&#246;nnen. Die vorliegende Datenschutzerkl&#228;rung
            erl&#228;utert, welche Daten wir erheben und wof&#252;r wir sie nutzen. Sie
            erl&#228;utert auch, wie und zu welchem Zweck das geschieht.
        </p>
        <p>
            Wir weisen darauf hin, dass die Daten&#252;bertragung im Internet (z.B. bei
            der Kommunikation per E-Mail) Sicherheitsl&#252;cken aufweisen kann. Ein
            l&#252;ckenloser Schutz der Daten vor dem Zugriff durch Dritte ist nicht
            m&#246;glich.
        </p>
        <p>
            <strong>Hinweis zur verantwortlichen Stelle</strong>
            <br/>
            Die verantwortliche Stelle f&#252;r die Datenverarbeitung auf dieser
            Website ist:
        </p>
        <p>
            Stephan Schl&#252;ter
            <br/>
            c/o REMKO GmbH &amp; Co. KG Klima- und W&#228;rmetechnik
            <br/>
            Im Seelenkamp 12
            <br/>
            32791 Lage
        </p>
        <p>
            Telefon: +49 (0) 5232 606-0
            <br/>
            E-Mail: datenschutz@remko.de
        </p>
        <p>
            Verantwortliche Stelle ist die nat&#252;rliche oder juristische Person, die
            allein oder gemeinsam mit anderen &#252;ber die Zwecke und Mittel der
            Verarbeitung von personenbezogenen Daten (z.B. Namen, E-Mail-Adressen o.
            &#196;.) entscheidet.
        </p>
        <p>
            <strong>Widerruf Ihrer Einwilligung zur Datenverarbeitung </strong>
            <br/>
            Viele Datenverarbeitungsvorg&#228;nge sind nur mit Ihrer
            ausdr&#252;cklichen Einwilligung m&#246;glich. Sie k&#246;nnen eine bereits
            erteilte Einwilligung jederzeit widerrufen. Dazu reicht eine formlose
            Mitteilung per E-Mail an uns. Die Rechtm&#228;&#223;igkeit der bis zum
            Widerruf erfolgten Datenverarbeitung bleibt vom Widerruf unber&#252;hrt.
        </p>
        <p>
            <strong>
                Beschwerderecht bei der zust&#228;ndigen Aufsichtsbeh&#246;rde
            </strong>
            <br/>
            Im Falle datenschutzrechtlicher Verst&#246;&#223;e steht dem Betroffenen
            ein Beschwerderecht bei der zust&#228;ndigen Aufsichtsbeh&#246;rde zu.
            Zust&#228;ndige Aufsichtsbeh&#246;rde in datenschutzrechtlichen Fragen ist
            der Landesdatenschutzbeauftragte des Bundeslandes, in dem unser Unternehmen
            seinen Sitz hat. Eine Liste der Datenschutzbeauftragten sowie deren
            Kontaktdaten k&#246;nnen folgendem Link entnommen:
            <a
                    href="https://www.bfdi.bund.de/DE/Infothek/Anschriften_Links/anschriften_links-node.html"
                    target="_blank"
            >
                https://www.bfdi.bund.de/DE/Infothek/Anschriften_Links/anschriften_links-node.html
            </a>
        </p>
        <p>
            <strong>Recht auf Daten&#252;bertragbarkeit </strong>
            <br/>
            Sie haben das Recht, Daten, die wir auf Grundlage Ihrer Einwilligung oder
            in Erf&#252;llung eines Vertrags automatisiert verarbeiten, an sich oder an
            einen Dritten in einem g&#228;ngigen, maschinenlesbaren Format
            aush&#228;ndigen zu lassen. Sofern Sie die direkte &#220;bertragung der
            Daten an einen anderen Verantwortlichen verlangen, erfolgt dies nur, soweit
            es technisch machbar ist.
        </p>
        <p>
            <strong>SSL- bzw. TLS-Verschl&#252;sselung </strong>
            <br/>
            Diese Seite nutzt aus Sicherheitsgr&#252;nden und zum Schutz der
            &#220;bertragung vertraulicher Inhalte, eine SSL-bzw.
            TLSVerschl&#252;sselung. Eine verschl&#252;sselte Verbindung erkennen Sie
            daran, dass die Adresszeile des Browsers von "http://" auf "https://"
            wechselt und an dem Schloss-Symbol in Ihrer Browserzeile.
        </p>
        <p>
            Wenn die SSL- bzw. TLS-Verschl&#252;sselung aktiviert ist, k&#246;nnen die
            Daten, die Sie an uns &#252;bermitteln, nicht von Dritten mitgelesen
            werden.
        </p>
        <p>
            <strong>Widerspruch gegen Werbe-Mails </strong>
            <br/>
            Der Nutzung von im Rahmen der Impressumspflicht ver&#246;ffentlichten
            Kontaktdaten zur &#220;bersendung von nicht ausdr&#252;cklich angeforderter
            Werbung und Informationsmaterialien wird hiermit widersprochen. Die
            Betreiber der Seiten behalten sich ausdr&#252;cklich rechtliche Schritte im
            Falle der unverlangten Zusendung von Werbeinformationen, etwa durch
            Spam-E-Mails, vor.
        </p>
        <h4>
            3. Datenschutzbeauftragter
        </h4>
        <p>
            <strong>Gesetzlich vorgeschriebener Datenschutzbeauftragter </strong>
            <br/>
            Die beteiligten Unternehmen der Interessengemeinschaft haben jeweils
            f&#252;r sich einen Datenschutzbeauftragten bestellt. Als Mitarbeiter eines
            dieser Unternehmen ist dieser Ihr Ansprechpartner.
        </p>
        <h4>
            4. Datenerfassung auf unserer Website
        </h4>
        <p>
            <strong>Cookies</strong>
            <br/>
            Die Internetseiten verwenden teilweise so genannte Cookies. Cookies richten
            auf Ihrem Rechner keinen Schaden an und enthalten keine Viren. Cookies
            dienen dazu, unser Angebot nutzerfreundlicher, effektiver und sicherer zu
            machen. Cookies sind kleine Textdateien, die auf Ihrem Rechner abgelegt
            werden und die Ihr Browser speichert.
        </p>
        <p>
            Die meisten der von uns verwendeten Cookies sind so genannte
            "Session-Cookies". Sie werden nach Ende Ihres Besuchs automatisch
            gel&#246;scht. Andere Cookies bleiben auf Ihrem Endger&#228;t gespeichert
            bis Sie diese l&#246;schen. Diese Cookies erm&#246;glichen es uns, Ihren
            Browser beim n&#228;chsten Besuch wiederzuerkennen.
        </p>
        <p>
            Sie k&#246;nnen Ihren Browser so einstellen, dass Sie &#252;ber das Setzen
            von Cookies informiert werden und Cookies nur im Einzelfall erlauben, die
            Annahme von Cookies f&#252;r bestimmte F&#228;lle oder generell
            ausschlie&#223;en sowie das automatische L&#246;schen der Cookies beim
            Schlie&#223;en des Browser aktivieren. Bei der Deaktivierung von Cookies
            kann die Funktionalit&#228;t dieser Website eingeschr&#228;nkt sein.
        </p>
        <p>
            Cookies, die zur Durchf&#252;hrung des elektronischen
            Kommunikationsvorgangs oder zur Bereitstellung bestimmter, von Ihnen
            erw&#252;nschter Funktionen (z.B. Warenkorbfunktion) erforderlich sind,
            werden auf Grundlage von Art. 6 Abs. 1 lit. f DSGVO gespeichert. Der
            Websitebetreiber hat ein berechtigtes Interesse an der Speicherung von
            Cookies zur technisch fehlerfreien und optimierten Bereitstellung seiner
            Dienste. Soweit andere Cookies (z.B. Cookies zur Analyse Ihres
            Surfverhaltens) gespeichert werden, werden diese in dieser
            Datenschutzerkl&#228;rung gesondert behandelt.
        </p>
        <p>
            <strong>Server-Log-Dateien</strong>
            <br/>
            Der Provider der Seiten erhebt und speichert automatisch Informationen in
            so genannten Server-Log-Dateien, die Ihr Browser automatisch an uns
            &#252;bermittelt. Dies sind:
        </p>
        <p>
            - IP-Adresse
            <br/>
            - Datum/Uhrzeit
            <br/>
            - URL
            <br/>
            - Referrer URL
            <br/>
            <br/>
            Eine Zusammenf&#252;hrung dieser Daten mit anderen Datenquellen wird nicht
            vorgenommen.
        </p>
        <p>
            Grundlage f&#252;r die Datenverarbeitung ist Art. 6 Abs. 1 lit. f DSGVO,
            Verarbeitung von Daten zur Erf&#252;llung eines Vetrages oder
            vorvertraglicher Ma&#223;nahmen gestattet.
        </p>
        <p>
            <strong>Kontaktformular</strong>
            <br/>
            Wenn Sie uns per Kontaktformular Anfragen zukommen lassen, werden Ihre
            Angaben aus dem Anfrageformular inklusive der von Ihnen dort angegebenen
            Kontaktdaten zwecks Bearbeitung der Anfrage und f&#252;r den Fall von
            Anschlussfragen bei uns gespeichert. Diese Daten geben wir nicht ohne Ihre
            Einwilligung weiter.
        </p>
        <p>
            Die Verarbeitung der in das Kontaktformular eingegebenen Daten erfolgt
            somit ausschlie&#223;lich auf Grundlage Ihrer Einwilligung (Art. 6 Abs. 1
            lit. a DSGVO). Sie k&#246;nnen diese Einwilligung jederzeit widerrufen.
            Dazu reicht eine formlose Mitteilung per E-Mail an uns. Die
            Rechtm&#228;&#223;igkeit der bis zum Widerruf erfolgten
            Datenverarbeitungsvorg&#228;nge bleibt vom Widerruf unber&#252;hrt.
        </p>
        <p>
            Die von Ihnen im Kontaktformular eingegebenen Daten verbleiben bei uns, bis
            Sie uns zur L&#246;schung auffordern, Ihre Einwilligung zur Speicherung
            widerrufen oder der Zweck f&#252;r die Datenspeicherung entf&#228;llt (z.B.
            nach abgeschlossener Bearbeitung Ihrer Anfrage). Zwingende gesetzliche
            Bestimmungen - insbesondere Aufbewahrungsfristen - bleiben unber&#252;hrt.
        </p>
        <p>
            <strong>Registrierung auf dieser Website </strong>
            <br/>
            Sie m&#252;ssen sich auf unserer Website registrieren, um die Funktionen
            auf der Seite zu nutzen. Die dazu eingegebenen Daten verwenden wir nur zum
            Zwecke der Nutzung des jeweiligen Angebotes oder Dienstes, f&#252;r den Sie
            sich registriert haben. Die bei der Registrierung abgefragten
            Pflichtangaben m&#252;ssen vollst&#228;ndig angegeben werden. Anderenfalls
            werden wir die Registrierung ablehnen.
        </p>
        <p>
            Da nur Mitarbeiter zur Registrierung berechtigt sind, die den Unternehmen
            der Interessengemeinschaft angeh&#246;ren, erfolgt eine Freigabe Ihrer
            Registrierungsanfrage durch den zust&#228;ndigen Administrator Ihres
            Besch&#228;ftigungsunternehmens.
        </p>
        <p>
            Die Verarbeitung der bei der Registrierung eingegebenen Daten erfolgt auf
            Grundlage Ihrer Einwilligung (Art. 6 Abs. 1 lit. a DSGVO). Sie k&#246;nnen
            eine von Ihnen erteilte Einwilligung jederzeit widerrufen. Dazu reicht eine
            formlose Mitteilung per E-Mail an uns. Die Rechtm&#228;&#223;igkeit der
            bereits erfolgten Datenverarbeitung bleibt vom Widerruf unber&#252;hrt.
        </p>
        <p>
            Die bei der Registrierung erfassten Daten werden von uns gespeichert,
            solange Sie auf unserer Website registriert sind und werden
            anschlie&#223;end gel&#246;scht. Eine vorzeitige L&#246;schung erfolgt,
            wenn Sie nicht mehr bei einem der teilnehmenden Unternehmen der
            Interessengemeinschaft besch&#228;ftigt sind. Gesetzliche
            Aufbewahrungsfristen bleiben unber&#252;hrt.
        </p>
        <p>
            <strong>Verarbeiten von Daten (Nutzer- und Drittanbieterdaten) </strong>
            <br/>
            Wir begr&#252;nden mit den registrierten Nutzern der Webseite kein
            Rechtsverh&#228;ltnis im Rahmen eines Dienstleistungsvertrages. Die
            Interessengemeinschaft tritt nicht ein einer einheitlichen Rechtsform auf.
            Angebote, welche auf der Webseite den registrierten Nutzern gemacht werden,
            bei denen die Durchf&#252;hrung durch Dritte erfolgt, erfordern die
            Weitergabe von Nutzerdaten (Namen) zur Identifizierung der Person des
            Nutzers. Die Zustimmung wird durch die Anmeldung zum Angebot erteilt.
            Grundlage f&#252;r die Datenverarbeitung ist Art. 6 Abs. 1 lit. b DSGVO,
            der die Verarbeitung von Daten zur Erf&#252;llung eines Vertrags oder
            vorvertraglicher Ma&#223;nahmen gestattet.
        </p>
        <p>
            Bei allen Angeboten besteht, soweit es sich nicht um reine private
            Teilnehmergruppen handelt, das Rechtsverh&#228;ltnis entweder direkt
            zwischen dem Nutzer und dem Drittanbieter, oder zwischen dem einzelnen
            teilnehmenden Unternehmen als Auftraggeber und dem Drittanbieter.
        </p>
        <p>
            Auf der Webseite berichten wir &#252;ber die Aktivit&#228;ten der
            Interessengemeinschaft und stellen Text- und Bildmaterial
            ausschlie&#223;lich den registrierten Nutzern zur Verf&#252;gung. Der
            Freigabe zur Bekanntgabe pers&#246;nlicher Daten (Namen und Bilder) muss
            von den Nutzern zugestimmt werden. Diese Zustimmung erfolgt durch die
            Teilnahmebest&#228;tigung. Sie k&#246;nnen eine von Ihnen erteilte
            Einwilligung jederzeit widerrufen. Dazu reicht eine formlose Mitteilung per
            E-Mail an uns. Die Rechtm&#228;&#223;igkeit der bereits erfolgten
            Datenverarbeitung bleibt vom Widerruf unber&#252;hrt.
        </p>
    </div>
{% endblock %}