{% extends "public_area/base.html.twig" %}

{% block content %}
<h3>Wer wir sind</h3>
    <p>‚Gemeinsam bewegen‘ ist ein aktives Netzwerk Lagenser Unternehmen, das es sich zum Ziel gesetzt hat, neue Wege zu beschreiten.</p>
    <p>Erfolgversprechende Kooperationen, gemeinsame Weiterbildungen sowie Sport- und Gesundheitsangebote für unsere Mitarbeiterinnen und Mitarbeiter stehen dabei ebenso im Fokus
        wie eine breite Palette attraktiver Veranstaltungen.</p>

    <p>Seien Sie gespannt auf ein buntes Angebot an Aktivitäten. Wir freuen uns auf Ihre aktive Teilnahme.</p>

    <p>Ihr ‚gemeinsam bewegen‘-Netzwerk</p><br>
<h4>Sei dabei</h4>
    <p>Beginne deine berufliche Laufbahn in einem unserer „bewegten“ Unternehmen und starte voll durch.

        Unsere Ausbildungsplätze findest du <a href="/ausbildung">hier</a>.</p><br><br>

    <h3>Kontakt</h3>
<p>Sie haben Interesse an unserem Netzwerk? Schreiben Sie uns!</p>

{{ form_start(form)}}
    {{ form_widget(form)}}
    <button type="submit" class="btn btn-dark" name="_submit">absenden</button>
    {{ form_end(form)}}
{% endblock %}