{% extends "public_area/base.html.twig" %}

{% block content %}
<h3>Wer wir sind</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non tortor ut risus elementum pretium a eget leo. Vestibulum bibendum posuere erat eget mattis. Aenean pharetra bibendum massa at dignissim. Cras aliquam, lorem nec tincidunt rhoncus, dolor risus elementum eros, id dapibus tortor nisl at quam. Integer mattis dignissim massa, vitae rhoncus turpis sollicitudin et. Sed at diam scelerisque, sagittis mauris vel, blandit libero. In nec vulputate sapien. Fusce vestibulum hendrerit neque, luctus efficitur magna auctor in. Cras dignissim quis nunc non blandit. Sed bibendum, dui eu elementum blandit, erat purus rutrum quam, id ultrices purus eros sed massa. In augue nibh, efficitur eget blandit in, auctor eget sapien. Nulla facilisi. Cras in aliquet lectus. Duis nec dolor sem. Nullam vel ex ut est accumsan mollis.</p>

<p>Donec eu quam vel elit varius rutrum. Nulla lacinia dolor auctor blandit ultrices. Nulla semper ligula lorem, sit amet tincidunt sapien sollicitudin non. Nulla eleifend mauris sit amet nisl pellentesque, id fermentum nisl egestas. In hac habitasse platea dictumst. Pellentesque dolor lacus, molestie sed placerat id, euismod sed metus. Nunc bibendum nibh consequat, efficitur nisi volutpat, luctus neque. Aenean fringilla nisl quis felis placerat, ac luctus ante tempor. Nulla consectetur egestas neque et varius. Vivamus eu efficitur ex.</p>

<h3>Kontakt</h3>
<p>Sie haben Interesse an unserem Netzwerk? Schreiben Sie uns!</p>

{{ form_start(form)}}
    {{ form_widget(form)}}
    <button type="submit" class="btn btn-dark" name="_submit">absenden</button>
    {{ form_end(form)}}
{% endblock %}