<h4 class="font-italic">Netzwerk</h4>
<img src="{{ asset('build/images/columna.webp') }}" class="w-100 p-4"/>
<img src="{{ asset('build/images/cds.png') }}" class="w-100 p-4"/>
<img src="{{ asset('build/images/remko.gif') }}" class="w-100 p-4"/>