<h4 class="font-italic">Wir sind dabei</h4>
<div id="networkcontent">
    {{ render(controller(
        'CompanyBundle\\Controller\\CompanyController::showRandom')) }}
</div>
<div class="col-sm-12 text-center">
<a href="{{ path('companies') }}">alle Anzeigen</a>
</div>